{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 5%"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties"
  ]
}